<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Stem Learning Academy | Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Stem Learning Academy, STEM Teachers' Training and Certification Program, Curriculum Development Workshops, Junior and Senior Engineering Programs, STEM Microfranchise , STEM Kits" />
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
<!-- /fonts -->
<!-- css -->
<link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{site.baseurl}}/css/jQuery.lightninBox.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{site.baseurl}}/css/services.css" rel="stylesheet" type="text/css" media="all"/>

<link href="{{site.baseurl}}/css/pogo-slider.min.css" rel="stylesheet" type="text/css" media="all" />
  
<link href="{{site.baseurl}}/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- /css -->
</head>


<body id="{{ page.id }}">
