<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Stem Learning Academy | Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Stem Learning Academy, STEM Teachers' Training and Certification Program, Curriculum Development Workshops, Junior and Senior Engineering Programs, STEM Microfranchise , STEM Kits" />
<!-- fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
<!-- /fonts -->
<!-- css -->
<link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{site.baseurl}}/css/jQuery.lightninBox.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{site.baseurl}}/css/services.css" rel="stylesheet" type="text/css" media="all"/>
{% if page.frontpage %}
<link href="{{site.baseurl}}/css/pogo-slider.min.css" rel="stylesheet" type="text/css" media="all" />
  
  {% else %}
  <link href="{{site.baseurl}}/css/style-inner.css" rel="stylesheet" type="text/css" media="all" />
 
  {% endif %}"
    
  {% if page.about %}
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet" type="text/css" media="all" />
  <link href="{{site.baseurl}}/css/expansion-grid.css" rel="stylesheet" type="text/css" media="all" />
  
  
  <link href="{{site.baseurl}}/css/accordion.css" rel="stylesheet" type="text/css" media="all" />
  {% endif %}
  
  {% if page.programmes %}
    <link href="{{site.baseurl}}/css/tabs.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{site.baseurl}}/css/kits.css" rel="stylesheet" type="text/css" media="all" />
  {% endif %}
  
  {% if page.gallery %}
     <link href="{{site.baseurl}}/css/gallery.css" rel="stylesheet" type="text/css" media="all" />
    {% endif %}
  
    {% if page.contact %}
     <link href="{{site.baseurl}}/css/contact.css" rel="stylesheet" type="text/css" media="all" />
    {% endif %}
  
<link href="{{site.baseurl}}/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- /css -->
</head>


<body id="{{ page.id }}">
